html{
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 150, 20) rgb(16, 32, 23);
}

body{
    background-color: rgb(16, 32, 23);
    color: rgb(54, 255, 81);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
    text-shadow: 1px 1px rgb(80, 0, 80);
    height: 100vw;
}

hr{
    background-image: linear-gradient(to right, transparent, rgb(54, 255, 81), transparent);
    border: 0px;
    height: 2px;
}

.header{
    position: relative;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.topbar{
    display: flex;
    background-color: rgb(9, 19, 17);
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.buttoncontainer{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    /* border: 1px solid greenyellow; */
}

.buttoncontainer button{
    width: 40px;
    height: 40px;
    padding: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 1px solid greenyellow; */
}

.navbar a{
    padding:10px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(54, 255, 81);
}

.navbar a:hover{
    background-color: rgb(16, 32, 23);
}

.titlecontainer{
    border: 1px solid rgba(0, 0, 0, 0);
}

.maincontainer{
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 23% 53% 23%; 
    grid-auto-flow: column;
    justify-content: center;
}

.container1{
    text-align: left;
    background-color: rgb(9, 19, 17);
    padding: 10px;
    height: 5000px;
}

.container1:hover{
    box-shadow: 3px 3px 5px rgb(0, 0, 0),
    -3px -3px 5px rgba(54, 255, 81, 0.2)
}

.container2{
    background-color: rgb(6, 12, 11);
    padding: 10px;
}

.columnTitle{
    margin: 3px 3px 6px 6px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

button{
    background-color: rgb(16, 32, 23);
    color: rgb(54, 255, 81);
    border: 1px solid rgb(54, 255, 81);
    border-radius: 2px;
    padding: 4px 10px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    display: inline-block;
}

button:hover{
    color: white;
}

button:active{
    background-color: black;
    box-shadow: 0px 0px 5px 2px rgba(54, 255, 81, 0.5);
}


#titulo{
    color: rgb(54, 255, 81);
    text-shadow: 0 0 5px rgb(54, 255, 81),
                 0 0 10px rgba(54, 255, 81, 0.7),
                 0 0 20px rgba(54, 255, 81, 0.5);
    animation: blink 3s infinite linear alternate;
}

@keyframes blink{
    29%{
        opacity: 1;
    }
    30%, 37%, 45%{
        opacity: 0.2;
    }
    32%, 38%, 47%{
        opacity: 1;
    }
    60%, 70%, 79%{
        opacity: 1;
    }
    65%, 67%, 76%, 78%{
        opacity: 0.2;
    } 
    66%, 69%, 77%{
        opacity: 0.8;
    }
}