


body {
    font-family: "Roboto";
    font-weight: 400;
    background-color: #46404E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.barra-header{
    width: 80%;
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barra-header-2{
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo{
    font-family: "Roboto";
    font-weight: 100;
    font-size: 64px;
    color: white;
    text-shadow: 0px 2px 6px  rgba(255, 255, 255, 0.8);
}

.subtitulo{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 25px;
    color: white;
}

.subtitulo-2{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    color: #847795;
}

.botones-header{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    color: #847795;
}

.botones-header:hover{
    color: white;
    text-shadow: 0px 0px 20px  rgba(255, 255, 255, 0.8);
}

.contenedor-de-grid{
    width: 100vw;
    overflow-x: auto;
}

.grid {
    width: 1800px;
    margin: 0 auto;
}

.grid::after {
content: "";
display: block;
clear: both;
}

.grid-item {
position: relative; /* esto es para crear un texto de posicionamiento*/
width: 200px;
height: 200px;
overflow: hidden;
float: left;
transform: translate(0px, 0px);
background: #BBB;
border-radius: 50%;
margin: 20px;
margin-top: -20px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.cian{
    background-color: #2FCBFF; 
    box-shadow: 0px 2px 10px #2FCBFF;
}

.magenta{
    background-color: #FF2196;
    box-shadow: 0px 2px 10px #FF2196;
}

.amarillo{
    background-color: #FFEC00; 
    box-shadow: 0px 2px 10px #FFEC00;
}

.boton-siguiente{
    background-color: #36313D;
    color: #847795;
    box-shadow: 0px 4px 3px #2b2630 inset;
    padding: 20px;
    border-radius: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.overlay {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 24px;
text-align: center;
}

.grid-item:nth-child(14n+8) {
margin-left: 130px;
}

.grid-item:nth-child(7n+8) {
clear:left;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3),
.grid-item:nth-child(4),
.grid-item:nth-child(5),
.grid-item:nth-child(6),
.grid-item:nth-child(7) {
  margin-top: 10px;
}

@media (max-width: 1250px){
    .barra-header{
        margin-bottom: 20px;
        margin-top:40px;
    }
    .titulo{
        font-size: 40px;
    }
    .grid-item{
        width: 170px;
        height: 170px;
    }
    
}